.content{
    width:100px;
    height:100px;
    background-color: thistle;
    cursor:pointer;
    -webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}
.content:hover{
    width:300px;
    height:150px;
    background-color: tomato;
    border-radius: 40px;
}