.ceng{
    width:260px;
    height:200px;
    border:1px solid black;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#a18cd1), to(#fbc2eb));
    background-image: -o-linear-gradient(bottom, #a18cd1 0%, #fbc2eb 100%);
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}